// Partials
@import "resets";

// Variables
$purple: #4903B8;
$light-gray: #444;

// Mixins
@mixin flex-container($j-content: center, $a-items: center, $direction: row) {
    display: flex;
    justify-content: $j-content;
    align-items: $a-items;
    flex-direction: $direction;
}

@mixin grid-container($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin forButtons {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $purple;
    color: white;
    border-radius: 10px;
}

@mixin icon-size {
    img {
        display: block;
        width: 50px;
        height: 50px;
    }
}

body {
    @include flex-container($direction: column);
    font-family: Arial, Helvetica, sans-serif;

    header {
        @include flex-container($j-content: space-between);

        width: 80vw;


        #company-logo {
            img {
                width: 150px;
                height: 150px;
            }
        }

        #navbar-container {
            nav {
                ul {
                    @include flex-container();

                    li {
                        list-style-type: none;
                        margin: 0 20px;

                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: 700;
                            padding: 10px 0;
                        }

                        a:hover,
                        a:focus {
                            color: $purple;
                            border-bottom: 3px solid $purple;
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
    }

    main {
        @include flex-container($direction: column);
        width: 100vw;

        #showcase {
            @include flex-container();
            height: 400px;

            #showcase1 {
                @include flex-container($a-items: flex-start, $direction: column);
                padding-left: 10%;
                padding-right: 70px;

                h1 {
                    margin-bottom: 30px;
                }

                p {
                    margin-bottom: 20px;
                    color: $light-gray;
                    font-size: small;
                    text-align: justify;
                }

                button {
                    @include forButtons();
                }
            }

            #showcase2 {
                @include flex-container($direction: column);
                position: relative;

                img {
                    display: block;
                    width: 400px;
                    height: auto;
                    z-index: 1;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                .background {
                    right: 15px;
                    top: 20px;
                }
            }
        }

        #subshowcase1 {
            @include flex-container($direction: column);
            width: 70vw;
            margin-top: 30px;

            h6 {
                align-self: flex-start;
                color: $purple;
            }

            h2 {
                align-self: flex-start;
            }

            #company-attributes {
                @include grid-container(1fr 1fr, 1fr 1fr);
                gap: 10px;
                margin-top: 20px;

                .company {
                    @include flex-container($j-content: space-between);
                    @include icon-size();

                    h6 {
                        padding-bottom: 5px;
                        font-weight: bold;
                    }
                }
            }
        }

        #subshowcase2 {
            @include flex-container();
            width: 80vw;
            margin-top: 120px;
            margin-bottom: 100px;

            #subshowcase2-1 {
                @include flex-container();
                width: 50%;
                position: relative;

                img {
                    display: flex;
                    width: 350px;
                    height: auto;
                    z-index: 1;
                    border-radius: 10px;
                }

                .background {
                    height: 512px;
                    width: 350px;
                    position: absolute;
                    top: 35px;
                    right: 45px;
                }
            }

            #subshowcase2-2 {
                @include flex-container($direction: column, $a-items: flex-start);
                width: 50%;
                padding-left: 20px;

                h2 {
                    margin-bottom: 30px;
                }

                img {
                    display: block;
                    width: 20px;
                    height: 20px;
                }

                p {
                    font-size: small
                }

                #subshowcase2-2-1 {
                    @include flex-container();
                    justify-content: flex-start;
                    margin-top: 20px;
                    width: 110%;

                    p {
                        padding-left: 10px;
                    }
                }

                #subshowcase2-2-2 {
                    @include flex-container();
                    margin-top: 10px;

                    p {
                        padding-left: 10px;
                    }
                }

                #subshowcase2-2-3 {
                    @include flex-container();
                    margin-top: 10px;

                    p {
                        padding-left: 10px;
                    }
                }

                button {
                    margin-top: 30px;
                    @include forButtons();
                }
            }
        }

        #workflow {
            @include flex-container($direction: column);
            width: 100vw;
            background-color: #FAFAFA;
            height: 400px;

            #icon-container {
                @include flex-container();
                margin-top: 50px;

                .workflow-container {
                    margin: 0 40px;
                    padding: 20px 20px;
                    background-color: white;
                    border: 2px solid $purple;
                    border-radius: 50%;

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            #Titles {
                display: grid;
                width: 80vw;
                grid-template-columns: repeat(16, 1fr);
                margin-top: 15px;

                h6 {
                    display: flex;
                    justify-content: center;
                }

                #h6-1 {
                    grid-column: 1 / 5;
                    padding-right: 10px;
                }

                #h6-2 {
                    grid-column: 5 / 9;
                }

                #h6-3 {
                    grid-column: 9 / 13;
                }

                #h6-4 {
                    grid-column: 13 / 17;
                }
            }
        }

        #pricing-plans {
            width: 80vw;

            #packages {
                @include flex-container($j-content: space-between);
            }
        }
    }
}