@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Variables
$primary-color: #4903B8;
$font-stack: 'Poppins', sans-serif;

// Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid black;

    #header-container {
        width: 80%;
        display: flex;
        justify-content: space-between;

        #logo-container {
            width: 50%;
            display: flex;

            img {
                display: block;
                width: 150px;
                height: 150px;
            }
        }

        #navbar-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                list-style-type: none;
                display: flex;

                li {
                    margin: 10px 20px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-weight: bold;
                        color: black;
                        font-size: large;
                    }

                    a:hover,
                    a:focus {
                        color: $primary-color;
                        transform: scaleX(1.5);
                    }
                }
            }
        }
    }
}