* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.explaination {
  width: 80%;
}
.explaination p {
  font-size: small;
  text-align: justify;
}

.company {
  margin: 10px 10px;
}

.background {
  width: 400px;
  height: 267px;
  position: absolute;
  background-color: #4903B8;
  border-radius: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80vw;
}
body header #company-logo img {
  width: 150px;
  height: 150px;
}
body header #navbar-container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body header #navbar-container nav ul li {
  list-style-type: none;
  margin: 0 20px;
}
body header #navbar-container nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 10px 0;
}
body header #navbar-container nav ul li a:hover,
body header #navbar-container nav ul li a:focus {
  color: #4903B8;
  border-bottom: 3px solid #4903B8;
  transition: 0.1s;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
body main #showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 400px;
}
body main #showcase #showcase1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 70px;
}
body main #showcase #showcase1 h1 {
  margin-bottom: 30px;
}
body main #showcase #showcase1 p {
  margin-bottom: 20px;
  color: #444;
  font-size: small;
  text-align: justify;
}
body main #showcase #showcase1 button {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4903B8;
  color: white;
  border-radius: 10px;
}
body main #showcase #showcase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body main #showcase #showcase2 img {
  display: block;
  width: 400px;
  height: auto;
  z-index: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
body main #showcase #showcase2 .background {
  right: 15px;
  top: 20px;
}
body main #subshowcase1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  margin-top: 30px;
}
body main #subshowcase1 h6 {
  align-self: flex-start;
  color: #4903B8;
}
body main #subshowcase1 h2 {
  align-self: flex-start;
}
body main #subshowcase1 #company-attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
body main #subshowcase1 #company-attributes .company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body main #subshowcase1 #company-attributes .company img {
  display: block;
  width: 50px;
  height: 50px;
}
body main #subshowcase1 #company-attributes .company h6 {
  padding-bottom: 5px;
  font-weight: bold;
}
body main #subshowcase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  margin-top: 120px;
  margin-bottom: 100px;
}
body main #subshowcase2 #subshowcase2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  position: relative;
}
body main #subshowcase2 #subshowcase2-1 img {
  display: flex;
  width: 350px;
  height: auto;
  z-index: 1;
  border-radius: 10px;
}
body main #subshowcase2 #subshowcase2-1 .background {
  height: 512px;
  width: 350px;
  position: absolute;
  top: 35px;
  right: 45px;
}
body main #subshowcase2 #subshowcase2-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}
body main #subshowcase2 #subshowcase2-2 h2 {
  margin-bottom: 30px;
}
body main #subshowcase2 #subshowcase2-2 img {
  display: block;
  width: 20px;
  height: 20px;
}
body main #subshowcase2 #subshowcase2-2 p {
  font-size: small;
}
body main #subshowcase2 #subshowcase2-2 #subshowcase2-2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  width: 110%;
}
body main #subshowcase2 #subshowcase2-2 #subshowcase2-2-1 p {
  padding-left: 10px;
}
body main #subshowcase2 #subshowcase2-2 #subshowcase2-2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
body main #subshowcase2 #subshowcase2-2 #subshowcase2-2-2 p {
  padding-left: 10px;
}
body main #subshowcase2 #subshowcase2-2 #subshowcase2-2-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
body main #subshowcase2 #subshowcase2-2 #subshowcase2-2-3 p {
  padding-left: 10px;
}
body main #subshowcase2 #subshowcase2-2 button {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4903B8;
  color: white;
  border-radius: 10px;
}
body main #workflow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #FAFAFA;
  height: 400px;
}
body main #workflow #icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}
body main #workflow #icon-container .workflow-container {
  margin: 0 40px;
  padding: 20px 20px;
  background-color: white;
  border: 2px solid #4903B8;
  border-radius: 50%;
}
body main #workflow #icon-container .workflow-container img {
  width: 80px;
  height: 80px;
}
body main #workflow #Titles {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(16, 1fr);
  margin-top: 15px;
}
body main #workflow #Titles h6 {
  display: flex;
  justify-content: center;
}
body main #workflow #Titles #h6-1 {
  grid-column: 1/5;
  padding-right: 10px;
}
body main #workflow #Titles #h6-2 {
  grid-column: 5/9;
}
body main #workflow #Titles #h6-3 {
  grid-column: 9/13;
}
body main #workflow #Titles #h6-4 {
  grid-column: 13/17;
}
body main #pricing-plans {
  width: 80vw;
  margin-top: 100px;
  position: relative;
}
body main #pricing-plans p {
  font-size: small;
}
body main #pricing-plans #pricing-plans-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
body main #pricing-plans #packages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body main #pricing-plans #packages .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  border: 1px solid #444;
  border-radius: 10px;
}
body main #pricing-plans #packages .card h6 {
  font-size: large;
  margin-bottom: 20px;
}
body main #pricing-plans #packages .card p {
  font-size: small;
}
body main #pricing-plans #packages .card .price {
  background-color: #fafafa;
  padding: 30px 30px;
  border-radius: 50%;
  position: absolute;
  margin-top: 60px;
  top: 0;
  z-index: 1;
  border: 3px solid #4903B8;
}
body main #pricing-plans #packages .card #purple-price {
  background-color: #4903B8;
  color: white;
  border: 3px solid white;
}
body main #pricing-plans #packages .card .perks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
body main #pricing-plans #packages #purple-border {
  border: 1px solid #4903B8;
}/*# sourceMappingURL=style.css.map */